POSTGRES_DB=funerariadb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
SERVER_PORT=8081

JWT_TOKEN_SECRET=local-dev-jwt-secret-change-me
SECURITY_PASSWORD_PEPPER=local-dev-pepper
SECURITY_REQUEST_FINGERPRINT_SECRET=local-dev-fingerprint-secret

APP_BOOTSTRAP_ADMIN_ENABLED=true
APP_BOOTSTRAP_ADMIN_EMAIL=admin@funeraria.local
APP_BOOTSTRAP_ADMIN_PASSWORD=Admin123!
APP_BOOTSTRAP_ADMIN_FIRST_NAME=Admin
APP_BOOTSTRAP_ADMIN_LAST_NAME=Funeraria

APP_STORAGE_LOCAL_PUBLIC_BASE_URL=http://localhost:8081/files/

PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
ALERTMANAGER_PORT=9093
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
